* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 12%);
  color: hsl(0, 0%, 100%);
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.section {
  padding-inline: 15px;
  text-align: center;

  @media (min-width: 992px) {
    padding-inline: 0;
    text-align: start;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 3rem;
    gap: 1.5em;

    @media (min-width: 992px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-block: 0;
      gap: 0;
    }

    .img-box {
      width: 100%;
      height: 500px;
      overflow: hidden;

      @media (min-width: 992px) {
        height: 800px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.5);
        transition: 1.2s;
      }

      &.revealed img {
        transform: scale(1);
      }
    }

    .content-box {
      display: flex;
      justify-content: center;
      order: -1;

      @media (min-width: 992px) {
        order: 0;
      }

      .box {
        max-width: 400px;
      }

      h2 {
        font-size: 3em;
        margin-block-end: 0.25em;

        @media (min-width: 992px) {
          font-size: 5em;
        }
      }

      p {
        opacity: .6;
        line-height: 2.25;
      }
    }

    [data-reveal="left"] {
      clip-path: inset(0 100% 0 0);
    }

    [data-reveal="left"].revealed {
      animation: reveal-left 1.8s forwards 300ms;
    }

    [data-reveal="right"] {
      clip-path: inset(0 0 0 100%);
    }

    [data-reveal="right"].revealed {
      animation: reveal-right 1.8s forwards 300ms;
    }
  }
}

@keyframes reveal-left {
  0% {
    clip-path: inset(0 100% 0 0);
  }

  100% {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes reveal-right {
  0% {
    clip-path: inset(0 0 0 100%);
  }

  100% {
    clip-path: inset(0 0 0 0);
  }
}